@charset "UTF-8";

/*
    Web Fundamentals (ITEC 2351.01) - FA25
    Final Project - Wolfsmiths Website
    Group B

    Wolfsmiths Lounge
    Authors: Christina Seifert,
             Julianna Ramirez,
             LaTrivia Edwards,
             Oneida Gongora,
             Erick Mendoza
    Date started: 2025-11-03
    Date finished: 2025-__-__ 

    Filename: fp_wolfsmiths.html

    CSS: LATRIVIA EDWARDS

*/
<!DOCTYPE html>
<html> 
<head>
	<meta charset= “utf-8”>
	<meta name=” viewpoint” content “width=device-width, initial-scale=1”>
	<meta name=” theme-color” content=”#747474”>
<link rel=” stylesheet” href=” mystyle.css”>
<style>
  body {
	background-color: black; 
	font-family: Fjalla One, Lato;
   }
   	<h1 style=”color: black; text-align: center;”></h1>
	<p>
	text-align: center;
}
   .info {
	padding: 20px
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity: 1;
	margin-bottom: 15px;
	background-color: #2196F3
}
   main-image {
	position: relative;
	font-family: Fjalla;
}
  .text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: black; 
	color: white;
	padding-left: 20px;
	padding-right: 20px
height: 100%;
              margin: 0;
