@charset "UTF-8";

/*
    Web Fundamentals (ITEC 2351.01) - FA25
    Final Project - Wolfsmiths Lounge Website
    Group B

    Wolfsmiths Lounge
    Authors: Christina Seifert,
             Julianna Ramirez,
             LaTrivia Edwards,
             Oneida Gongora,
             Erick Mendoza
    Date started: 2025-11-03
    Date finished: 2025-__-__ 

    Filename: fp_wolfsmiths.html

    CSS: LATRIVIA EDWARDS & ERICK MENDOZA

*/

  body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.ws_img {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 { background-image: url("img1.jpg"); }
.img2 { background-image: url("img2.jpg"); }
.img3 { background-image: url("img3.jpg"); }
.img4 { background-image: url("img4.jpg"); }
.img5 { background-image: url("img5.jpg"); }
.img6 { background-image: url("img6.jpg"); }
.img7 { background-image: url("img7.jpg"); }

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}
/* Dropdown Buttons */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/*positioning of dropdown content*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #363636;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #363636;
}